<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-vpn-detection" version="1.0.0">
    <name>VPN Detection</name>
    <author>Mahmoud Bakhet</author>
    <description>Cordova / PhoneGap Plugin for detecting if the device running the app and opened VPN.</description>
    <keywords>cordova, VPN, checkeer, detection,</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/vpndetection.js" name="vpndetection">
        <clobbers target="vpndetection" />
    </js-module>
    <platform name="ios">
       <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
        <config-file target="config.xml" parent="/*">
            <feature name="vpndetection">
                <param name="ios-package" value="vpndetection" />
            </feature>
        </config-file>
        <header-file src="src/ios/Bridging-Header.h"/>
        <source-file src="src/ios/vpndetection.swift" />
    </platform>
</plugin>